<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .container {
      flex-direction: column;
      display: flex;
      width: 100%;
      max-width: 600px;
      align-items: center;
      justify-content: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
      margin-bottom: 32px;
    }

    .title {
      color: #252627;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
    }

    .title strong{
      color: #BD6AF0;
      font-weight: 600;
    }

    .text {
      color: #252627;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    }

    .text-footer {
      color: #252627;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }

    .text-footer strong {
      color: #BD6AF0;
      font-weight: 600;
    }


    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 300px;
      height: 50px;

      background: #BD6AF0;
      box-shadow: -4px 4px 4px -2px rgba(0, 0, 0, 0.19);
      border-radius: 6px;

      color: #FFFF;
      font-weight: 600;
      padding: 6px 32px;

      outline: none;
      border: none;
      text-decoration: none;
    }

    button:hover {
      cursor: pointer;
    }

    .button-text{
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
    }

    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #A41BF8;
    }

    .footer-rights{
      color: #FFFF;
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 16px;
    }

    .logo-footer{
      margin: 24px 0;
    }
  </style>

</head>

<body>
  <main class="container">
    <header>
      <img src="{{ logo }}" />
    </header>

    <article class="content">

      <h2 class="title">Olá, <strong>{{ name }}</strong></h2>

      <p class="text">Para redefinir a senha, clique abaixo.</p>

      <a href={{ link }} target="_blank">
        <button>
          <p class="button-text">
            Redefinir senha
          </p>
        </button>
      </a>

      <p class="text">Caso não tenha sido você quem pediu a redefinição, considere trocar a senha agora mesmo.</p>

      <span class="text-footer">
        Atenciosamente, equipe <strong>PATH</strong>
      </span>

    </article>

    <footer class="footer">
      <img src="{{ logoMinimal }}" alt="logo-minimal" class="logo-footer"/>
      <span class="footer-rights">© 2022 PATH. Todos os direitos reservados.</span>
    </footer>
  </main>
</body>

</html>